
body {
    margin: 0;
    padding: 0;
    background: url(/signIn/images/markus-spiske-FXF-unsplash.jpg);
    background-size: cover;
    background-position: center;
    font-family: 'Times New Roman', Times, serif;
}

.loginBox {
    width: 320px;
    height: 420px;
    background:rgb(32, 34, 36);
    color:aliceblue;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.avatar {
    width: 100px;
    height: 100px;
    background: lightgreen;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

h1 {
    margin: 0;
    padding: 0 0 20px;
    color: chartreuse;
    text-align: center;
    font-size: 22px;
}

.loginBox p {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.loginBox input {
    width: 100%;
    margin-bottom: 20px;
}

.loginBox input[type="text"], input[type="password"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.loginBox input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: lightgreen;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.loginBox input[type="submit"]:hover {
    cursor: pointer;
    background: #ffc107;
    color: #000;
}

.loginBox a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
}

.loginBox a:hover {
    color: #ffc107;
}

/* Nav-Bar Settings */

.nav-bar {
    width: 90%;
    margin: auto;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 180px;
    cursor: pointer;
    color: white;
}

.nav-bar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.nav-bar ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.nav-bar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.nav-bar ul li:hover::after {
    width: 100%;
}

.nav-bar ul li .btn {
    background: transparent;
    color: slategray;
    
}




